ffmpeg-python
noisereduce
librosa
soundfile
language-tool-python
nltk
pydub
numpy
jina
transformers
torch
opencv-python 
sounddevice
soundfile
tensorflow 
pillow
ipywidgets
notebook
jupyterlab
widgetsnbextension


